In [7]:
import graph_tool.all as gt
import numpy as np
import pandas as pd
from graphviz import Digraph
import re
import pickle

# fname = 'connections_princeton_no_threshold'
# fname = 'connections'
fname = 'connections'

In [12]:
df = pd.read_csv(f'{fname}.csv')

In [13]:
df.head()

          pre_root_id        post_root_id neuropil  syn_count nt_type
0  720575940629970489  720575940631267655   AVLP_R          7    GABA
1  720575940605876866  720575940606514878    LAL_R         15    GABA
2  720575940627737365  720575940628914436     AL_L         32     ACH
3  720575940633587552  720575940626452879    SMP_R         15     ACH
4  720575940616871878  720575940621203973   AVLP_L         13    GABA

In [14]:
df_combined = df.groupby(['pre_root_id', 'post_root_id'], as_index=False).agg({
    'syn_count': 'sum',  # Sum numerical column
    'nt_type': lambda x: x.mode().iloc[0]  # Most common value
})

In [18]:
len(df_combined)

2701601

In [21]:
df_combined.head()

          pre_root_id        post_root_id  syn_count nt_type
0  720575940596125868  720575940608552405          5     ACH
1  720575940596125868  720575940613059993          5    GLUT
2  720575940596125868  720575940616986553          5     ACH
3  720575940596125868  720575940618079956          5     ACH
4  720575940596125868  720575940620124326          8     ACH

In [24]:
df1= df.sort_values(by=['pre_root_id', 'post_root_id'])
df2 = df_combined.sort_values(by=['pre_root_id', 'post_root_id'])

In [25]:
df1.head(20)

                pre_root_id        post_root_id neuropil  syn_count nt_type
1004984  720575940596125868  720575940608552405    LOP_R          5     ACH
259401   720575940596125868  720575940613059993    LOP_R          5    GLUT
1776906  720575940596125868  720575940616986553    LOP_R          5     ACH
3210518  720575940596125868  720575940618079956    LOP_R          5     ACH
2083873  720575940596125868  720575940620124326    LOP_R          8     ACH
3431695  720575940596125868  720575940620159366    LOP_R         10     ACH
2823874  720575940596125868  720575940620512950    LOP_R          5     ACH
556174   720575940596125868  720575940622115169    LOP_R          5     ACH
1509830  720575940596125868  720575940626718739    LOP_R          5     ACH
2551220  720575940596125868  720575940633572004    LOP_R          7     ACH
629243   720575940596125868  720575940634848875    LOP_R         17     ACH
2587063  720575940596125868  720575940635713375    LOP_R          5     ACH
2188030  720575940596125868  720575940640902389    LOP_R         16     ACH
1879129  720575940597856265  720575940605842278     ME_R          5     ACH
2221956  720575940597856265  720575940605842278     LO_R          6     ACH
564949   720575940597856265  720575940609624003     LO_R          8     ACH
2340082  720575940597856265  720575940610239790     ME_R         12     ACH
653618   720575940597856265  720575940611012194     ME_R          9     ACH
817191   720575940597856265  720575940612063667     ME_R          9     ACH
3331420  720575940597856265  720575940612258218     ME_R          6     ACH

In [27]:
df2.head(20)

           pre_root_id        post_root_id  syn_count nt_type
0   720575940596125868  720575940608552405          5     ACH
1   720575940596125868  720575940613059993          5    GLUT
2   720575940596125868  720575940616986553          5     ACH
3   720575940596125868  720575940618079956          5     ACH
4   720575940596125868  720575940620124326          8     ACH
5   720575940596125868  720575940620159366         10     ACH
6   720575940596125868  720575940620512950          5     ACH
7   720575940596125868  720575940622115169          5     ACH
8   720575940596125868  720575940626718739          5     ACH
9   720575940596125868  720575940633572004          7     ACH
10  720575940596125868  720575940634848875         17     ACH
11  720575940596125868  720575940635713375          5     ACH
12  720575940596125868  720575940640902389         16     ACH
13  720575940597856265  720575940605842278         11     ACH
14  720575940597856265  720575940609624003          8     ACH
15  720575940597856265  720575940610239790         12     ACH
16  720575940597856265  720575940611012194          9     ACH
17  720575940597856265  720575940612063667          9     ACH
18  720575940597856265  720575940612258218          6     ACH
19  720575940597856265  720575940612860273          5     ACH